@import "../utils/_variables";

.footer{
    background: rgb(48, 48, 48);
    color: white;
    padding: 35px 35px;
    &__logo{
        font-size: 22px;
        font-family: 'Shrikhand', cursive;
    }
    &__liste{
        font-size: 18px;
        line-height: 30px;
        list-style-type: none;
        padding: 0;
        .fa-utensils, .fa-hands-helping{
            margin-right: 12px;
        }
    }
}

