@import "../utils/_variables";

.footer{
    background: rgb(48, 48, 48);
    color: white;
    padding: 35px 35px;
    &__h3{
        font-size: 22px;
        font-family: 'Shrikhand', cursive;
    }
    &__ul{
        font-size: 18px;
        line-height: 30px;
        list-style-type: none;
        padding: 0;
    }
    &__strong{
        margin-left: 12px;
    }
}
