@import "../utils/_variables";
@import "../utils/_mixins";

header{
    background: rgb(228, 228, 228);
}
.nav-bar{
    background: white;
    @include box-shadow;
    display: flex;
        align-items: $center;
    height: 65px;
    padding: 25px 20px 15px 20px;
    @media (min-width: 768px){
        height: 80px;        
    }
    .a-return{
        flex: 0.5;
    }
    .fa-arrow-left{
        font-size: 20px;
        padding-bottom: 8px;
    }
    img{
       flex: 2;
       height: 30px;
       @media (min-width: 768px){
        height: 50px;        
       }
    }
}
.nav-bar-home{
    justify-content: $center;
}

    

    
