@charset "UTF-8";
* {
  box-sizing: border-box;
}

.body {
  background: rgba(223, 223, 223, 0.592);
  letter-spacing: 0.35px;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 26px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

a {
  color: black;
  text-decoration: none;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  color: white;
  display: block;
  font-size: 18px;
  height: 55px;
  margin: auto;
  width: 70%;
  opacity: 1;
  transition: opacity 250ms;
}
.btn:hover {
  box-shadow: 0px 10px 35px -18px black;
  transition: box-shadow 400ms;
}

.btn-menus {
  width: 50%;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
header {
  background: #e4e4e4;
}

.nav-bar {
  background: white;
  -webkit-box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  display: flex;
  align-items: center;
  height: 65px;
  padding: 25px 20px 15px 20px;
}
@media (min-width: 768px) {
  .nav-bar {
    height: 80px;
  }
}
.nav-bar .a-return {
  flex: 0.5;
}
.nav-bar .fa-arrow-left {
  font-size: 20px;
  padding-bottom: 8px;
}
.nav-bar img {
  flex: 2;
  height: 30px;
}
@media (min-width: 768px) {
  .nav-bar img {
    height: 50px;
  }
}

.nav-bar-home {
  justify-content: center;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 2px;
}
.localisation .fa-map-marker-alt {
  font-size: 20px;
}
.localisation__p {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 18px;
}

.exploration {
  background: rgba(249, 249, 249, 0.482);
  padding: 35px 35px 65px;
  text-align: center;
}
.exploration__h2 {
  padding: 0 15px;
}
.exploration__p {
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 15px;
}

.fonctionnement {
  background: white;
  padding: 40px 20px 50px;
}
.fonctionnement ul {
  padding-left: 10px;
}
@media (min-width: 768px) {
  .fonctionnement ul {
    display: flex;
    justify-content: center;
  }
}
.fonctionnement__li {
  position: relative;
  background: #f4f4f4;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .fonctionnement__li {
    height: 150px;
    margin: 20px 15px;
    width: 33%;
  }
}
.fonctionnement__span {
  position: absolute;
  left: -10px;
  background: #9356DC;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-right: 25px;
}
.fonctionnement .fa-mobile-alt, .fonctionnement .fa-list-ul, .fonctionnement .fa-store {
  flex: 0.5;
  color: grey;
  font-size: 23px;
  margin-left: 45px;
}
.fonctionnement__strong {
  flex: 3;
  font-size: 18px;
  margin-left: 15px;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
.restaurants {
  background: rgba(249, 249, 249, 0.482);
  padding: 40px 20px 50px;
  /* css uniquement à partir du mode tablette*/
}
@media (min-width: 768px) {
  .restaurants .flex-cards-768 {
    display: flex;
    justify-content: space-around;
  }
}
.restaurants__card {
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
}
@media (min-width: 768px) {
  .restaurants__card {
    width: 24%;
  }
}
.restaurants__card img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.restaurants__card-container-text {
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}
@media (min-width: 768px) {
  .restaurants__card-container-text {
    padding: 0px 10px;
  }
}
.restaurants__card-text {
  flex: 1;
}
.restaurants__card-h3 {
  font-size: 20px;
  margin: 15px 0 0;
}
.restaurants__card-p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .restaurants__card-p {
    font-size: 17px;
  }
}
.restaurants__card .fa-heart {
  font-size: 30px;
  margin: 20px 10px;
  transition: all 300ms ease-in-out;
}
.restaurants__card .fa-heart:hover {
  color: #9356DC;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
.section-menu {
  position: relative;
}
.section-menu img {
  position: absolute;
  width: 100%;
}
.section-menu__container {
  background: #f0f0f0;
  border-radius: 40px 40px 0 0;
  margin-top: 225px;
  padding: 20px;
  position: absolute;
  width: 100%;
}
.section-menu__container-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.section-menu__container-title .fa-heart {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0 55px;
}
.section-menu__container-menu__h2 {
  border-bottom: 4px solid #40dad7;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
}
.section-menu__container-menu__ul {
  list-style-type: none;
  padding-left: 0;
}
@media (min-width: 768px) {
  .section-menu__container-menu__ul {
    display: flex;
    justify-content: space-around;
  }
}
.section-menu__container-menu__ul__li {
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  box-shadow: 0px 10px 35px -18px rgba(128, 128, 128, 0.606);
  margin-bottom: 20px;
  padding: 12px 20px 12px 12px;
}
@media (min-width: 768px) {
  .section-menu__container-menu__ul__li {
    height: 150px;
    padding: 20px;
    margin: 10px;
    width: 33%;
  }
}
.section-menu__container-menu__ul__li__h3 {
  margin: 0 0 5px;
}
.section-menu__container-menu__ul__li__div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.section-menu__container-menu__ul__li__div__p {
  font-weight: lighter;
  margin: 0;
  flex: 1;
}
.section-menu__container-menu__ul__li__div__span {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .section-menu__container-menu__ul__li__div__span {
    font-size: 22px;
  }
}
.section-menu__container-menu__ul .last-li {
  margin-bottom: 50px;
}

.footer {
  background: #303030;
  color: white;
  padding: 20px 25px;
}
.footer__h3 {
  font-size: 22px;
  font-family: "Shrikhand", cursive;
}
@media (min-width: 768px) {
  .footer__h3 {
    font-size: 30px;
    text-align: center;
  }
}
.footer__ul {
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 768px) {
  .footer__ul {
    display: flex;
    justify-content: space-around;
  }
}
.footer__strong {
  margin-left: 12px;
}

/*# sourceMappingURL=style.css.map */
