@charset "UTF-8";
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background: rgba(223, 223, 223, 0.592);
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 33px;
  font-family: "Shrikhand", cursive;
}
@media (max-width: 375px) {
  h1 {
    font-size: 29px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 23px;
  }
}

h2 {
  font-size: 26px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

.a {
  color: black;
  text-decoration: none;
}

.footer__a {
  color: white;
  text-decoration: none;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
/* text ellispis */
.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 55px;
  margin: auto;
  width: 250px;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 0px 10px 35px -12px black;
  transition: box-shadow 400ms;
}

.btn-menus {
  width: 250px;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
/* text ellispis */
@keyframes appear-menu {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) cubic-bezier(0.73, 0.01, 0.2, 0.99);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scale(5px);
  }
  25% {
    opacity: 0.2;
    transform: scale(10px);
  }
  50% {
    opacity: 0.5;
    transform: scale(20px);
  }
  75% {
    opacity: 0.8;
    transform: scale(27px);
  }
  100% {
    opacity: 1;
    transform: scale(32px);
  }
}
.container-heart {
  cursor: pointer;
  position: relative;
  margin: 15px 11px 0;
}
.container-heart .empty-heart {
  position: absolute;
  font-size: 28px;
  transform: scale(30px);
  transition: transform 300ms;
}
.container-heart:hover .empty-heart {
  transform: scale(0px);
  opacity: 0;
}
.container-heart:hover .full-heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  color: transparent;
  animation: heart 600ms cubic-bezier(0.57, 0, 0.21, 0.99) forwards;
}
.container-heart .full-heart {
  font-size: 28px;
  opacity: 0;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
/* text ellispis */
header {
  background: #e4e4e4;
}

.nav-bar {
  background: white;
  -webkit-box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  display: flex;
  align-items: center;
  height: 65px;
  padding: 25px 20px 15px 20px;
}
@media (min-width: 768px) {
  .nav-bar {
    height: 80px;
  }
}
.nav-bar .a-return {
  flex: 0.5;
}
.nav-bar .fa-arrow-left {
  font-size: 20px;
  padding-bottom: 8px;
}
.nav-bar img {
  flex: 2;
  height: 30px;
}
@media (min-width: 768px) {
  .nav-bar img {
    height: 50px;
  }
}

.nav-bar-home {
  justify-content: center;
}

.footer {
  background: #303030;
  color: white;
  padding: 35px 35px;
}
.footer__h3 {
  font-size: 22px;
  font-family: "Shrikhand", cursive;
}
.footer__ul {
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
}
.footer__strong {
  margin-left: 12px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 2px;
}
.localisation .fa-map-marker-alt {
  font-size: 20px;
}
.localisation__p {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 18px;
}

.exploration {
  background: rgba(249, 249, 249, 0.482);
  padding: 35px 35px 65px;
  text-align: center;
}
.exploration__h2 {
  margin: 10px 0;
  padding: 0 15px;
}
.exploration__p {
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 15px;
}

.fonctionnement {
  background: white;
  padding: 40px 20px 50px;
}
.fonctionnement ul {
  padding-left: 10px;
}
@media (min-width: 768px) {
  .fonctionnement ul {
    display: flex;
    justify-content: center;
  }
}
.fonctionnement__li {
  position: relative;
  background: #f4f4f4;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .fonctionnement__li {
    height: 150px;
    margin: 20px 15px;
    width: 33%;
  }
}
.fonctionnement__span {
  position: absolute;
  left: -10px;
  background: #9356DC;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-right: 25px;
}
.fonctionnement .fa-mobile-alt, .fonctionnement .fa-list-ul, .fonctionnement .fa-store {
  flex: 0.5;
  color: grey;
  font-size: 23px;
  margin-left: 45px;
}
.fonctionnement__strong {
  flex: 3;
  font-size: 18px;
  margin-left: 15px;
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
/* text ellispis */
.restaurants {
  background: rgba(249, 249, 249, 0.482);
  padding: 40px 20px 50px;
}
.restaurants__h2 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurants .flex-cards {
    display: flex;
    justify-content: space-around;
  }
}
.restaurants__card {
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants__card {
    width: 24%;
  }
}
.restaurants__card img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.restaurants__card-sticker {
  background: #99E2D0;
  color: #278870;
  padding: 8px;
  text-align: center;
  width: 90px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurants__card-container-text {
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}
@media (min-width: 768px) {
  .restaurants__card-container-text {
    padding: 0px 10px;
  }
}
.restaurants__card-text {
  flex: 1;
}
.restaurants__card-h3 {
  font-size: 20px;
  margin: 15px 0 0;
}
.restaurants__card-p {
  font-size: 20px;
  font-weight: lighter;
  margin: 8px 0;
}
@media (min-width: 768px) {
  .restaurants__card-p {
    font-size: 17px;
  }
}

/* Ombre des éléments */
/* Augmente l'assombrissement de la couleur de l'ombre au survol*/
/* Display flex row */
/* text ellispis */
@keyframes appear-menu {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) cubic-bezier(0.73, 0.01, 0.2, 0.99);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scale(5px);
  }
  25% {
    opacity: 0.2;
    transform: scale(10px);
  }
  50% {
    opacity: 0.5;
    transform: scale(20px);
  }
  75% {
    opacity: 0.8;
    transform: scale(27px);
  }
  100% {
    opacity: 1;
    transform: scale(32px);
  }
}
.section-restaurant img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .section-restaurant img {
    height: 700px;
  }
}
.section-restaurant #img-note-enchantee {
  height: 380px;
}
@media (min-width: 768px) {
  .section-restaurant #img-note-enchantee {
    height: 700px;
  }
}
.section-restaurant .restaurant {
  background-color: #ebebeb;
  border-radius: 40px 40px 0 0;
  padding: 50px 20px;
  transform: translateY(-80px);
  /* Entree Plat Dessert */
}
@media (min-width: 768px) {
  .section-restaurant .restaurant {
    transform: translateY(-400px);
  }
}
.section-restaurant .restaurant .restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: shrikhand, cursive;
  font-size: 30px;
  margin-bottom: 40px;
}
.section-restaurant .restaurant .restaurant-name .fa-heart {
  margin: 10px 10px;
}
@media (min-width: 768px) {
  .section-restaurant .restaurant .flex-menu {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .section-restaurant .restaurant .flex-menu .menu-part {
    width: 33%;
  }
}
.section-restaurant .restaurant .flex-menu .menu-part__title {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-transform: uppercase;
}
.section-restaurant .restaurant .flex-menu .menu-part__underline {
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
}
.section-restaurant .restaurant .flex-menu .menu-part__list {
  list-style-type: none;
  padding-left: 0;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item {
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  box-shadow: 0px 10px 35px -12px rgba(111, 111, 111, 0.756);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 90px;
  margin: 18px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  animation: appear-menu 2000ms both;
  /* partie verte à une taille de 0% ds la carte et est deplacé de 100px sur axe horizontal à droite*/
  /* au survol de la carte, la partie verte reprend un taille(flex8%) et sa place ds la carte(translate)*/
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--1 {
  animation-delay: 150ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--2 {
  animation-delay: 300ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--3 {
  animation-delay: 450ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--4 {
  animation-delay: 600ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--5 {
  animation-delay: 750ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--6 {
  animation-delay: 900ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--7 {
  animation-delay: 1050ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--8 {
  animation-delay: 1200ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--9 {
  animation-delay: 1350ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item--10 {
  animation-delay: 1500ms;
}
@media (min-width: 768px) {
  .section-restaurant .restaurant .flex-menu .menu-part__list__item {
    width: 98%;
  }
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text {
  display: flex;
  flex: 100%;
  flex-direction: column;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 600ms;
}
@media (max-width: 375px) {
  .section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text {
    font-size: 15px;
  }
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px 20px;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text .details {
  display: flex;
  align-items: center;
  flex: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 20px;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text .details .details__desc {
  flex: 90%;
  font-size: 19px;
  font-weight: lighter;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 375px) {
  .section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text .details .details__desc {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text .details .details__desc {
    font-size: 14px;
  }
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .item-text .details .details__price {
  flex: 10%;
  font-weight: bold;
  text-align: end;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item:hover > .item-text {
  flex: 65%;
  margin-right: 20px;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .item-check {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  flex: 0%;
  justify-content: center;
  font-size: 30px;
  transform: translateX(100px);
  transition: all 600ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item:hover > .item-check {
  background-color: #99e2d0;
  cursor: pointer;
  color: #f6f6f6;
  flex: 8%;
  transform: translateX(0px);
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item .fa-check-circle {
  transform: rotate(380deg);
  transition: transform 600ms;
}
.section-restaurant .restaurant .flex-menu .menu-part__list__item:hover .fa-check-circle {
  transform: rotate(0deg);
}
.section-restaurant .restaurant .flex-menu .menu-part__list .last-li {
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
