@import "../utils/_variables";
@import "../utils/_mixins";

.btn{
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    border-radius: 50px;
    @include box-shadow;
    color: white;
    display: block;
    font-size: 18px;
    height: 55px;
    margin: auto;
    width: 70%;
    opacity: 1;
    transition: opacity 250ms;
    &:hover{
        opacity: 0.8;
        @include hover-dark-shadow;
    }
}
.btn-menus{
    width: 50%;
}