@import "../utils/variables";
@import "../utils/mixins";

 .container-heart{
     cursor: pointer;
     position: relative;
     margin: 15px 11px 0;
     .empty-heart{
         position: absolute;
         font-size: 28px;
         transform: scale(30px);
         transition: transform 300ms;
     }
     &:hover .empty-heart{
         transform: scale(0px);
         opacity: 0;
        
     }
     &:hover .full-heart{
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
        background-clip: text;
       color: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
         opacity: 1;
         transform: tanslateZ(12px) scale(32px);
         transition: transform 300ms;
     }
     .full-heart{
         font-size: 28px;
         opacity: 0;
         transform: tanslateZ(0px) scale(0px);
         transition: transform 1000ms;
     }
    
 }


.test-heart{
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}