@import "../utils/variables";
 
body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 33px;
    font-family: 'Shrikhand', cursive;
    @media (max-width: map-get($map: $breakpoints, $key: mobile-M)){
        font-size: 29px;
    }
    @media (max-width: map-get($map: $breakpoints, $key: mobile-S)){
        font-size: 23px;
    }
}

h2{
    font-size: 26px;
    @media (min-width: map-get($breakpoints, tablet)){
        font-size: 30px;
    }
}

.a{
    color: black;
    text-decoration: none;
}

.footer__a{
    color: white;
    text-decoration: none;
}