@import "../utils/variables";
@import "../utils/_mixins";

.restaurants{
    background: $bg-explo-resto;
    padding: 40px $padd-20 50px;
    &__h2{
        margin-bottom: 20px;
    }
    /* css uniquement à partir du mode tablette*/
    .flex-cards-768{
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            display: flex;
                justify-content: space-around;
        }
    }
    &__card{
        background: white;
        border-radius: $padd-20;
        margin-bottom: $padd-20;
        @include box-shadow;
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            width: 24%;
        }
        & img{
            border-radius: $padd-20 $padd-20 0 0;
            object-fit: cover; 
            height: 200px; 
            width: 100%
        }
        &-container-text{
            border-radius: 0 0 $padd-20 $padd-20;
            @include flex-row;
            padding: 0px $padd-20;
            @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                padding: 0px 10px;
            }
        }
        &-text{
            flex: 1;
        }
        &-h3{
            font-size: 20px;
            margin: 15px 0 0;
        }
        &-p{
            font-size: 20px;
            font-weight: lighter;
            margin: 8px 0;
            @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                font-size: 17px;
            }
        }
        
        .fa-heart{
            font-size: 30px;
            margin: $padd-20 10px;
            transition: all 800ms ease-in-out;
            &:hover{
                color: $color-primary;
            }
        }
        
        // $clr-btn: #15DEA5;
        // .fa-heart{
        //     color: $clr-btn;
        //     position: relative;
        //     z-index: 1;
        //     &:hover {
        //         &::after {
        //             opacity: 1;
        //         }
        //     }
        //     &::after {
        //         content: " ";
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //         bottom: 0;
        //         left: 0;
        //         color: $color-primary;
        //         opacity: 0;
        //         z-index: -1;
        //         transition: opacity 250ms;
        //     }
        // }
    }
}

