@import "../utils/variables";
@import "../utils/_mixins";

.restaurants{
    background: $bg-explo-resto;
    padding: 40px $padd-20 50px;
    &__h2{
        margin-bottom: 20px;
    }
    .flex-cards{
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            display: flex;
                justify-content: space-around;
        }
    }
    &__card{
        background: white;
        border-radius: $padd-20;
        @include box-shadow;
        margin-bottom: $padd-20;
        position: relative;
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            width: 24%;
        }
        & img{
            border-radius: $padd-20 $padd-20 0 0;
            object-fit: cover; 
            height: 200px; 
            width: 100%
        }
        &-sticker{
            background: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40%);
            padding: 8px;
            text-align: center;
            width: 90px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &-container-text{
            border-radius: 0 0 $padd-20 $padd-20;
            @include flex-row;
            padding: 0px $padd-20;
            @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                padding: 0px 10px;
            }
        }
        &-text{
            flex: 1;
        }
        &-h3{
            font-size: 20px;
            margin: 15px 0 0;
        }
        &-p{
            font-size: 20px;
            font-weight: lighter;
            margin: 8px 0;
            @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                font-size: 17px;
            }
        }
    }
}

