@import "../utils/_variables";

.fonctionnement{
    background: white;
    padding: 40px 20px 50px;
    ul{
        padding-left: 10px;
        @media (min-width: map-get($breakpoints, tablet)){
            @include flex-center;
        }
    }
    &__li{
        position: relative;
        background: rgb(244, 244, 244);
        border-radius: 20px;
        @include box-shadow;
        @include flex-center;
            align-items: $center;
        height: 80px;
        margin: 20px 0;
        @media (min-width: map-get($breakpoints, tablet)){
            height: 150px;
            margin: 20px 15px;
            width: 33%;
        }
    }
    &__number{
        background: $color-primary;
        border-radius: 100%;
        color: white;
        @include flex-center;
            align-items: $center;
        height: 30px;
        margin-right: 25px; 
        position: absolute;
            left: -10px;
        width: 30px;
    }
    .fa-mobile-alt, .fa-list-ul, .fa-store{
        color: grey;
        flex: 0.5;
        font-size: 23px;
        margin-left: 45px;
    }
    &__text{
        flex: 3;
        font-size: 18px;
        margin-left: 15px;
    }
}