.container-menu{
    position: relative;
    img{
        position: absolute;
        width: 100%;
    }
    
    .menu{
        background: white;
        border-radius: 40px 40px 0 0;
        margin-top: 225px;
        padding: 20px;
        position: absolute;
        width: 100%;
        &__container-title{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            &__h1{
                flex: 1;
            }
            .fa-heart{
                font-size: 30px;
                font-weight: 100;
                margin: 20px 20px 0;
            }
        }
        &__entree{
            &__h2{
                border-bottom: 4px solid green;
                font-weight: lighter;
                text-transform: uppercase;
            }
        }

    }
}