@import "../utils/variables";
@import "../utils/_mixins";
@import "../utils/animations";

.section-restaurant{
    img{
        object-fit: cover;
        width: 100%;
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            height: 700px;
        }
    
    }
    #img-note-enchantee{
        height: 380px;
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            height: 700px;
        }
    }
    .restaurant{
        background-color: #ebebeb;
        border-radius: 40px 40px 0 0;
        padding: 50px 20px;
        transform: translateY(-80px);
        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
            transform: translateY(-400px);
        }
        .restaurant-name {
            display: flex;
                justify-content: space-between;
                align-items: baseline;
            font-family: shrikhand, cursive;
            font-size: 30px;
            margin-bottom: 40px;
            .fa-heart{
                margin: 10px 10px;
            }
        }
        /* Entree Plat Dessert */
        .flex-menu{
            @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                display: flex;
                justify-content: space-between;
                
            }
            .menu-part{
                @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                    width: 33%;
                }
                &__title{
                    font-size: 20px;
                    font-weight: lighter;
                    margin-bottom: 10px;
                    @include flex-row;
                        align-items: baseline;
                    text-transform: uppercase;
                }
                &__underline{
                    background-color: $color-tertiary;
                    height: 5px;
                    width: 50px;
                }
                &__list{
                    list-style-type: none;
                    padding-left: 0;
                    
                    &__item{
                        background: white;
                        border-radius: 20px;
                        @include box-shadow;
                        cursor: pointer;
                        display: flex;
                            justify-content: space-between;
                        height: 90px;
                        margin: 18px 0;
                        @include ellipsis;
                        transition: all 2000ms;
                        animation: appear-menu 2000ms both;
                        @for $i from 1 through 9{
                            &--#{$i}{
                                animation-delay: 150ms * $i;
                            }
                        }
                        &--10 {
                            animation-delay: 1500ms;
                        }
                        @media (min-width: map-get($map: $breakpoints, $key: tablet)){
                            width: 98%;
                        }
                        .item-text {
                            display: flex;
                                flex: 100%;
                                flex-direction: column;
                            font-size: 18px;
                             @include ellipsis;
                            transition: all 600ms;
                            @media (max-width: map-get($map: $breakpoints, $key: mobile-M)){
                                font-size: 16px;
                            }
                            @media (max-width: map-get($map: $breakpoints, $key: mobile-S)){
                                font-size: 15px;
                            }
                            .name {
                                @include ellipsis;
                                padding: 10px 20px;
                            }
                            .details {
                                display: flex;
                                    align-items: center;
                                    flex: 100%;
                                    flex-direction: row;
                                    justify-content: space-between;
                                margin: 0 0 0 20px;
                                .details__desc {
                                    flex: 90%;
                                    font-size: 19px;
                                    font-weight: lighter;
                                    @include ellipsis;
                                    @media (max-width: map-get($map: $breakpoints, $key: mobile-M)){
                                        font-size: 16px;
                                    }
                                    @media (max-width: map-get($map: $breakpoints, $key: mobile-S)){
                                        font-size: 14px;
                                    }
                                }
                                .details__price {
                                    flex: 10%;
                                    font-weight: bold;
                                    text-align: end;
                                }
                            }
                        }
                        &:hover > .item-text {
                            flex: 65%;
                            margin-right: 20px;
                        }
                        /* partie verte à une taille de 0% ds la carte et est deplacé de 100px sur axe horizontal à droite*/
                        .item-check {
                            background-color: #99e2d0;
                            border-radius: 0 15px 15px 0;
                            color: #f6f6f6;
                            display: flex;
                                align-items: center;
                                flex: 0%;
                                justify-content: center;
                            font-size: 30px;
                            transform: translateX(100px);
                            transition: all 600ms;
                            // white-space: nowrap;
                        }
                        /* au survol de la carte, la partie verte reprend un taille(flex8%) et sa place ds la carte(translate)*/
                        &:hover > .item-check {
                            background-color: #99e2d0;
                            cursor: pointer;
                            color: #f6f6f6;
                            flex: 8%;
                            transform: translateX(0px);
                        }
                        .fa-check-circle {
                            transform: rotate(380deg);
                            transition: transform 600ms;
                        }    
                        &:hover .fa-check-circle {
                            transform: rotate(0deg);
                        }                
                    }
                    .last-li{
                        margin-bottom: 50px;
                    }               
                }         
            }      
        }
    }
}

