@import "./variables";

@mixin box-shadow{
    -webkit-box-shadow: $shadow-size $shadow-colour; 
    box-shadow: $shadow-size $shadow-colour;
}

@mixin hover-dark-shadow{
    -webkit-box-shadow: $shadow-size black;
    box-shadow: $shadow-size black;
    transition: box-shadow 400ms;
}

@mixin flex-row{
    display: flex;
        flex-direction: row;
}

@mixin flex-center{
    display: flex;
        justify-content: center;
}

@mixin ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
