$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-explo-resto:rgba(249, 249, 249, 0.482);

$padd-20:20px;

$shadow-colour: rgba(128, 128, 128, 0.606);
$shadow-size:0px 10px 35px -18px;

$breakpoints:(tablet:768px)